/* Centre images if alt text contains |center */
img[alt*="center"] {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Right-align images if alt text contains |right */
img[alt*="right"] {
  display: block !important;
  float: right !important;
  clear: right;
  margin-left: 1rem;
  margin-bottom: 2px;
  margin-top: 2px;
}